RewriteEngine On


# #remove .php extention
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

#return 404 if original request is .php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.PHP[? ].+$"
RewriteRule .* - [L,R=404]

# #home page
RewriteRule ^$ index.php [NC,L]
RewriteRule ^/admin$ admin/index.php[NC,L]
RewriteRule ^/publicher$ publisher/index.php[NC,L]
RewriteRule ^posts/([0-9]+)$ posts.php?post_id=$1[NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^category/([a-z]+) category?category=$1[NC,L]

# if url not found
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ error.php [NC,L]




